<div>
    <h2 id="page-heading">
        <span jhiTranslate="fixedAssetsTransferApp.fixedAssets.home.title">Fixed Assets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fixed-assets" [routerLink]="['/fixed-assets/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="fixedAssetsTransferApp.fixedAssets.home.createLabel">
            Create new Fixed Assets
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'fixedAssetsTransferApp.fixedAssets.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fixedAssets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.assets_no">Assets No</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.serial_no">Serial No</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.description">Description</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.date">Date</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.asset_action_type">Asset Action Type</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.source">Source</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.destination">Destination</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.manager_approval">Manager Approval</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.fixed_assets_manager_approval">Fixed Assets Manager Approval</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.technical_review">Technical Review</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.technical_commentary">Technical Commentary</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.it_asset_previewer">It Asset Previewer</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.it_asset_previewer_name">It Asset Previewer Name</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.administraitve_affairs_previewer">Administraitve Affairs Previewer</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.administraitive_affairs_job_name">Administraitive Affairs Job Name</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.technical_maintenance_commentry">Technical Maintenance Commentry</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.technical_maintenance_previewer">Technical Maintenance Previewer</span></th>
            <th><span jhiTranslate="fixedAssetsTransferApp.fixedAssets.technical_maintenance_job_name">Technical Maintenance Job Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fixedAssets of fixedAssets ;trackBy: trackId">
                <td><a [routerLink]="['/fixed-assets', fixedAssets.id, 'view' ]">{{fixedAssets.id}}</a></td>
                <td>{{fixedAssets.assets_no}}</td>
                <td>{{fixedAssets.serial_no}}</td>
                <td>{{fixedAssets.description}}</td>
                <td>{{fixedAssets.date | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'fixedAssetsTransferApp.AssetActionType.' + fixedAssets.asset_action_type}}">{{fixedAssets.asset_action_type}}</td>
                <td>{{fixedAssets.source}}</td>
                <td>{{fixedAssets.destination}}</td>
                <td>{{fixedAssets.manager_approval}}</td>
                <td>{{fixedAssets.fixed_assets_manager_approval}}</td>
                <td jhiTranslate="{{'fixedAssetsTransferApp.TechnicalReview.' + fixedAssets.technical_review}}">{{fixedAssets.technical_review}}</td>
                <td>{{fixedAssets.technical_commentary}}</td>
                <td>{{fixedAssets.it_asset_previewer}}</td>
                <td>{{fixedAssets.it_asset_previewer_name}}</td>
                <td>{{fixedAssets.administraitve_affairs_previewer}}</td>
                <td>{{fixedAssets.administraitive_affairs_job_name}}</td>
                <td>{{fixedAssets.technical_maintenance_commentry}}</td>
                <td>{{fixedAssets.technical_maintenance_previewer}}</td>
                <td>{{fixedAssets.technical_maintenance_job_name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fixed-assets', fixedAssets.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fixed-assets', fixedAssets.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fixed-assets/'+ fixedAssets.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
